/* Global */
* {
    border: 0;
    box-sizing: border-box;
}

body {
    height: 90vh;
    color: #ffffff;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color:#808080;
}

button, 
h2 {
    font-family: 'Montserrat', serif;
    background-color: transparent;
}

button {
    font-weight: 600;
}

img {
    border: 3px solid #ffffff;
}

/* Tabs */
.tabs {
    width: 400px;
    padding: 15px;

    border: 5px solid #ffffff;
    border-radius: 20px;

    background-color:#62440365;
    box-shadow: 20px 20px 25px #00000066;
}

.tab-content {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 15px;
    border: 2px solid #808080;
}

.tab-button {
    width: 32%;
    height: 28px;
    cursor: pointer;

    color: #ffffff;
    background-color: #62440338;
}

.tab-button.active {
    font-size: 15px;
    font-weight: 700;

    border: 2px solid #808080;
    background-color: #808080;
}

/* Adds */
.show {
    display: flex;
}

.hide {
    display: none;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
} 

@keyframes fade {
    from {
        opacity: 0.1;
    } to {
        opacity: 1;
    }
}
